---
http_interactions:
- request:
    method: get
    uri: https://api.thedogapi.com/v1/images/search?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_EXPOSE_DATA>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu Dec 03 2020 17:46:03 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '910'
      Pagination-Limit:
      - '5'
      Pagination-Page:
      - '0'
      X-Response-Time:
      - 75ms
    body:
      encoding: ASCII-8BIT
      string: '[{"breeds":[{"weight":{"imperial":"32 - 40","metric":"15 - 18"},"height":{"imperial":"12.5
        - 14","metric":"32 - 36"},"id":120,"name":"Glen of Imaal Terrier","bred_for":"Rid
        the home and farm of vermin, and hunt badger and fox","breed_group":"Terrier","life_span":"12
        - 15 years","temperament":"Spirited, Agile, Loyal, Gentle, Active, Courageous"}],"id":"H1oLMe94m","url":"https://cdn2.thedogapi.com/images/H1oLMe94m_1280.jpg","width":645,"height":380},{"breeds":[{"weight":{"imperial":"90
        - 120","metric":"41 - 54"},"height":{"imperial":"28 - 34","metric":"71 - 86"},"id":5,"name":"Akbash
        Dog","bred_for":"Sheep guarding","breed_group":"Working","life_span":"10 -
        12 years","temperament":"Loyal, Independent, Intelligent, Brave","origin":""}],"id":"W93JBCUzz","url":"https://cdn2.thedogapi.com/images/W93JBCUzz.jpg","width":1124,"height":928},{"breeds":[{"weight":{"imperial":"50
        - 60","metric":"23 - 27"},"height":{"imperial":"25 - 27","metric":"64 - 69"},"id":2,"name":"Afghan
        Hound","country_code":"AG","bred_for":"Coursing and hunting","breed_group":"Hound","life_span":"10
        - 13 years","temperament":"Aloof, Clownish, Dignified, Independent, Happy","origin":"Afghanistan,
        Iran, Pakistan"}],"id":"WIf5o1E8h","url":"https://cdn2.thedogapi.com/images/WIf5o1E8h.jpg","width":998,"height":790},{"breeds":[{"weight":{"imperial":"20
        - 30","metric":"9 - 14"},"height":{"imperial":"14 - 16","metric":"36 - 41"},"id":145,"name":"Kooikerhondje","bred_for":"Luring
        ducks into traps - \"tolling\"","breed_group":"Sporting","life_span":"12 -
        15 years","temperament":"Benevolent, Agile, Alert, Intelligent, Active, Territorial"}],"id":"ZcMM_Og7i","url":"https://cdn2.thedogapi.com/images/ZcMM_Og7i.jpg","width":1280,"height":768},{"breeds":[{"weight":{"imperial":"30
        - 50","metric":"14 - 23"},"height":{"imperial":"17.5 - 19.5","metric":"44
        - 50"},"id":239,"name":"Standard Schnauzer","bred_for":"Ratting, guarding","breed_group":"Working","life_span":"13
        - 15 years","temperament":"Trainable, Good-natured, Devoted, Lively, Playful,
        Intelligent"}],"id":"YrCbmNAvH","url":"https://cdn2.thedogapi.com/images/YrCbmNAvH.jpg","width":1280,"height":1280}]'
  recorded_at: Thu, 03 Dec 2020 17:46:03 GMT
recorded_with: VCR 6.0.0
