---
http_interactions:
- request:
    method: get
    uri: https://api.thedogapi.com/v1/images/search?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_EXPOSE_DATA>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu Dec 03 2020 17:56:30 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '910'
      Pagination-Limit:
      - '5'
      Pagination-Page:
      - '0'
      X-Response-Time:
      - 65ms
    body:
      encoding: ASCII-8BIT
      string: '[{"breeds":[{"weight":{"imperial":"25 - 40","metric":"11 - 18"},"height":{"imperial":"14
        - 18","metric":"36 - 46"},"id":56,"name":"Boykin Spaniel","bred_for":"Turkey
        retrieving","breed_group":"Sporting","life_span":"10 - 14 years","temperament":"Friendly,
        Energetic, Companionable, Intelligent, Eager, Trainable"}],"id":"ryHJZlcNX","url":"https://cdn2.thedogapi.com/images/ryHJZlcNX_1280.jpg","width":577,"height":634},{"breeds":[{"weight":{"imperial":"38
        - 50","metric":"17 - 23"},"height":{"imperial":"23 - 26","metric":"58 - 66"},"id":8,"name":"Alaskan
        Husky","bred_for":"Sled pulling","breed_group":"Mixed","life_span":"10 - 13
        years","temperament":"Friendly, Energetic, Loyal, Gentle, Confident"}],"id":"Nk8cSr_aj","url":"https://cdn2.thedogapi.com/images/Nk8cSr_aj.jpg","width":1350,"height":869},{"breeds":[{"weight":{"imperial":"45
        - 55","metric":"20 - 25"},"he[...]
